<div class='following'>
  <h1 class='text-center fw-bold mb-5 mt-5'>
    Following feed
  </h1>
  <form id='form-add-account' class='form mb-4'>
    <div class='input-group'>
      <span class='input-group-text'>@</span>
      <input
        type='text'
        class='form-control'
        id='account-username'
        placeholder='Write a instagram username'
      />
      <button class='btn btn-primary'>Add</button>
    </div>
  </form>
  <ul id='following-list' class='list-group'></ul>
</div>
<script src='/js/index.js'></script>