<nav class='navbar navbar-dark bg-primary'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>
      <h1 class='h4 fw-bold'>{{globals.server.title}}</h1>
    </a>
    <span class='navbar-text'>
      <a href='/feed'>Feed</a>
      <a href='/settings'>Settings</a>
      <a href='/about'>About</a>
    </span>
  </div>
</nav>